{% extends "base.html" %}

{% block app_content %}
    <img src="https://via.placeholder.com/1170x100?text=Some+cool+bioinformatics+image">
    <h2>About this project</h2>
    <p>
        <b>Metagenomics</b> studies genetic material obtained from environmental samples to identify the (micro-)organisms present in specific environments.
        Knowledge of this composition can be used in various industrial applications, such as improving compost or determining soil health.<br><br>

        The <b>goal of this project</b> is to develop a tool for analysis and visualization of metagenomics data. By developing a user-friendly tool,
        data analysis can be performed more efficiently to provide new insights about environmental samples.<br><br>

        This project is part of the bioinformatics <b>minor course Data Science</b> at HAN University of Applied Sciences (Nijmegen, the Netherlands). Students work on projects provided by the HAN BioCentre,
        applying (bio-)informatics methods for biological research.<br>


    </p>
    <hr>
    <h2>About HAN BioCentre</h2>
    <p>
        HAN BioCentre carries out applied research within the theme of <b>biodiscovery</b> in collaboration with business partners and other research institutes.
        The resulting knowledge contributes to the <b>biobased economy</b>.<br>

        More information at the <a href="https://specials.han.nl/sites/biocentre-en/index.xml" >HAN BioCentre website</a>.
        <br>
    </p>
    <hr>
    <h2> About Us</h2>
    <p>
        Our team consists of the following members:<br>
    <ul>
        <li>Sjors Bongers (4th year bioinformatics student)</li>
        <li> Hidde Dijkstra (3rd year Life Sciences student)</li>
        <li> Daan Gilissen (4th year bioinformatics student)</li>
        <li> Pim Hoefmans (3rd year bioinformatics student)</li>
        <li> Koen Rademaker (4th year bioinformatics student)</li>
        <li> Thijs Schoppema (3rd year bioinformatics student)</li>
    </ul>
    </p>
{% endblock %}
