<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<h2>Grouping Form Data with Fieldset</h2>
<p>The fieldset element is used to group related data in a form, and the legend element defines a caption for the fieldset element.</p>

<form action="/action_page.php">
    <p>Diamond Parameters</p>
    <div class="form-group">
        <label for="fg1">Number of hits:</label>
        <input type="number" class="form-control" placeholder="1">
        <label for="fg1">E-Value:</label>
        <input type="number" class="form-control" placeholder="0.01">
    </div>
    <p data-toggle="collapse" data-target="#AdvancedParameters">
    Advanced Parameters
    </p>
    <div class="collapse" id="AdvancedParameters">
        <div class="form-group">
            <form action="" methods=['post','get'] name="DiamondForm">
				<label for="fg2">Sensitivity:</label><br>
				<input type="radio" class="form-check-input" name="sensitivity" id="optionsRadios1" value="" checked> No extra sensitivity<br>
				<input type="radio" class="form-check-input" name="sensitivity" id="optionsRadios2" value="sensitive"> Sensitive<br>
				<input type="radio" class="form-check-input" name="sensitivity" id="optionsRadios3" value="more-sensitive"> More sensitive<br> 
				<p>
				</p>
				<label for="fg2">Frameshift:</label>
				<input type="number" class="form-control" placeholder="Please enter the penalty for a frameshift">
				<p>
				</p>
				<label for="fg2">Gap Open:</label>
				<input type="number" class="form-control" placeholder="Please enter the penalty for opening a gap">
				<p>
				</p>
				<label for="fg2">Gap Extend:</label>
				<input type="number" class="form-control" placeholder="Please enter the penalty for extending a gap">
				<p>
				</p>
				<label for="fg2">Matrix:</label><br>
				<select>
					<option value ="BLOSUM62">BLOSUM62</option>
					<option value ="BLOSUM45">BLOSUM45</option>
					<option value ="BLOSUM50">BLOSUM50</option>
					<option value ="BLOSUM80">BLOSUM80</option>
					<option value ="BLOSUM90">BLOSUM90</option>
					<option value ="PAM250">PAM250</option>
					<option value ="PAM70">PAM70</option>
					<option value ="PAM30">PAM30</option>
				</select>
				<p>
				</p>
				<label for="fg2">Algorithm:</label>
				<input type="number" class="form-control" placeholder="Please enter the algorithm you would like to use">
				<small id="AlgoHelp" class="form-text text-muted">The values possible are:<br>
				0 for double indexed, effective for average or larger sized query files<br>
				1 for query indexed, especially effective for small query files<br></small>
				<p>
				</p>
				<label for="fg2">Out format:</label>
				<input type="number" class="form-control" placeholder="Please enter the number corresponding to the format you wish to receive">
				<small id="OutfmtHelp" class="form-text text-muted">The values possible are:<br>
				0 for BLAST pairwise format<br>
				5 for BLAST XML format<br>
				6 for BLAST tabular format<br>
				100 for Diamond Alignment Archive (DAA) format<br>
				101 for SAM format<br>
				102 for Taxonomic classification<br>
				103 for PAF format<br></small>
				<p>
				</p>
				<label for="fg2">Compression:</label>
				<input type="number" class="form-control" placeholder="Please enter the number corresponding to the compression you wish to use">
				<small id="compressHelp" class="form-text text-muted">The values are either 0 for no compression or 1 for zip compression.<br></small>
				<p>
				</p>
				<label for="fg2">Max target sequences:</label>
				<input type="number" class="form-control" placeholder="Please enter the maximum number of target sequences per query">
				<p>
				</p>
				<label for="fg2">Minimum score:</label>
				<input type="number" class="form-control" placeholder="Please enter the minimum bit score">
				<p>
				</p>
				<label for="fg2">Identity:</label>
				<input type="number" class="form-control" placeholder="Please enter the minimum percentage of sequence identity">
				<p>
				</p>
				<label for="fg2">Query coverage:</label>
				<input type="number" class="form-control" placeholder="Please enter the minimum percentage of query coverage">
				<p>
				</p>
				<label for="fg2">Subject coverage:</label>
				<input type="number" class="form-control" placeholder="Please enter the minimum percentage of subject coverage">
				<p>
				</p>
				<label for="fg2">Max HSPs:</label>
				<input type="number" class="form-control" placeholder="Please enter the maximum number of HSPs per subject sequence">    
		</form>
        </div>
    </div>
    <br>
    <input type="submit" value="RUN DIAMOND">
</form>

</body>
</html>
