{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}


{% block app_content %}
    <h2>ConFInR</h2>
    <div class="row">
        <div class="col-sm-12">
            <h4>Upload query- and database file</h4>
            <br>
            <b>TO DO: Insert description of query- and database file.</b>

            {% if db_input_form %}
                {{ wtf.quick_form(db_input_form) }}
            {% endif %}
            <hr>

            <h4>Run DIAMOND</h4>
            {% include 'confinr_run.html' %}
            <hr>
        </div>
    </div>
{% endblock %}
