{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}


{% block app_content %}
    <h2>ConFInR</h2>
    <div class="row">
        <div class="col-sm-12">
            <h4>Convert tab-delimited data to FASTA</h4>
            {% include 'confinr_convert.html' %}
            <hr>

            <h4>Set up DIAMOND database</h4>
            {% include 'confinr_makedb.html' %}
            <hr>

            <h4>Run DIAMOND</h4>
            {% include 'confinr_run.html' %}
            <hr>
        </div>
    </div>
{% endblock %}
