{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Welcome to ConFInR <img id="" src="{{ url_for('static', filename='images/logo.png') }}"></h2>
    <hr>
    <p>
        ConFInR is a web-based tool for functional annotation of metagenomics data. It includes pre-processing methods
        which allow interactive filtering and visualization of the data to detect and remove low quality reads. Some of
        the attributes that can be filtered are:
        <br>
    <ul>
        <li>Sequence length</li>
        <li>Distribution of nucleotides</li>
        <li>Percentage of paired reads</li>
        <li>Identity score between forward and reverse complement sequences</li>
    </ul>
    <a href="https://github.com/bbuchfink/diamond">DIAMOND</a>, a high performance sequence aligner, is used to align
    metagenomics sequences to proteins which in turn can be used for functional annotation.
    </p>
    <p>
        More information can be found on <a href="https://github.com/kjradem/ConFInR">GitHub</a>.
    </p>
{% endblock %}
